/* VideoPlayer.css */
.video-container {
    max-width: 800px;
    width: 100%;
    margin: auto;
    border: 1px solid #ccc;
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
  }
  
  .video-title {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    z-index: 1;
  }
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  